
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Chat functie</title>
</head>
<body>
    <main>
        <section>
            <ol>
                <h1> The big animal quizzzzzzz</h1>
                <% data.forEach(function(question, i) { %>   
                    <li> 
                        <p> <%- question.question %></p>
                        <form action="" class="form">
                            <div>
                                <div>
                                    <input type="radio" name="vraag-<%= i + 1%>" id="<%- question.correct_answer %>" class="true"><label for="<%- question.correct_answer %>"><%- question.correct_answer %></label>
                                </div>
        
                                <% question.incorrect_answers.forEach(function(awnser) { %>
                                    <div>
                                        <input type="radio" name="vraag-<%=i + 1%>" id="<%- awnser %>"><label for="<%- awnser %>"><%- awnser %></label> 
                                    </div>   
                                <% }) %>
                            </div>
                            
                        </form>
    
                    </li>
                <% }) %>
            </ol>
        </section>
    </main>
    <script type="module" src="app.js"></script>

</body>
</html>